body {
  font-family: "Alegreya", serif;
  font-size: 125%;
  background-color: black;
  color: white;

  overflow-x: hidden; /* Prevent horizontal scrolling */
}

p {
  text-indent: 5%;
}

h1 {
  text-align: center;
  color: rgb(105, 138, 183);
  margin-top: 3%;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
}

.container {
  flex-direction: column; /* Stack navigation and content vertically */
  padding: 0px;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
ul li {
  margin-left: 5%;
}
.navigation ul li {
  display: inline; /* Ensure list items are inline for horizontal alignment */
  padding: 5px; /* Optional: Add padding to each item */
}
.navigation ul img {
  min-width: 30px; /* Ensure images don't shrink */
  vertical-align: text-bottom;
}

.content {
  width: 65%;
  align-self: center;
}

/* .content1 {
  display: flex;
  flex-direction: column; /* Align children vertically */
  align-items: center; /* Horizontally center content */
  justify-content: center; /* Vertically center content (if needed) */
  text-align: center; /* Ensure text is centered */
  min-height: 100vh; /* Ensure full vertical height if necessary */
} */


.content2 {
  width: 100%;
}


.button {
  position: sticky;
  z-index: 99;
  border: none;
  outline: 0.1rem solid rgb(105, 138, 183);
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
  margin-left: 5%;
}

.button:hover {
  background-color: #555;
}

.button.field:hover {
  background-color: black;
  cursor: text;
}

#btn {
  position: sticky;
  z-index: 99;
  border: none;
  outline: 0.1rem solid rgb(105, 138, 183);
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 7px;
  font-size: 16px;
}

#btn:hover {
  background-color: #555;
}

.nav-item.active {
  font-weight: bold;
  color: rgb(105, 138, 183);
}

.nav-item.small {
  font-style: italic;
  font-size: 18px;
  margin: 0;
}

.row {
  display: flex;
}

.column {
  flex: 1;
  padding: 10px;
}

.column img {
  margin-top: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 3%;
}

/* ul li:before {
  content: '\2022';
  display: block;

  left: -11px;
  color: rgb(105, 138, 183);
  font-size: 20px;
} */

ol {
  list-style-type: none;
  padding-left: 0;
}

ol li {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

ol li::before {
  content: "";
  display: inline-block;
  background-image: url("../img/star.png");
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-right: 11px;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(105, 138, 183);
}

a:active {
  color: rgb(105, 138, 183);
}

img {
  max-width: 100%;
  height: auto;
}

.bookmark-row {
  display: flex;
  justify-content: center;
  margin-top: -5%;
  margin-bottom: 5%;
}

.bookmark-row a {
  margin: 0 10px;
}

.custom-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
  background-image: url("../img/weezer.png");
  background-size: cover;
  background-position: center;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

.hamburger {
  display: none; /* Hidden by default */
  cursor: pointer;
  font-size: 24px;
  color: rgb(105, 138, 183);
}

.custom-table td, .custom-table th {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
}

.image-cell img {
  width: 50%;
  height: auto;
  border-radius: 5px;
}

.sort-options {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sort-options label {
  font-size: 16px;
  color: #fff; /* Adjust to match your theme */
}

.sort-options select {
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 12px;
  padding: 16px;
  align-content: center;
  margin-bottom: -10%;
}

#node_for_insert {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}


.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #2323235c;
  border: 1px solid rgb(105, 138, 183);
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.grid-item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  align-self: center;
}

.grid-item h4 {
  margin: 10px 0;
  font-size: 1.2em;
}

.grid-item p {
  margin: 8px 0;
  font-size: 0.9em;
  color: #dbdbdb;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid-item .button-field-wrapper {
  margin-top: auto; /* Pushes the field to the bottom */
}

.order-field .button.field {
  margin-left: 0%;
}


@media (max-width: 600px) {
  .container {
    flex-direction: column; /* Stack navigation and content vertically */
    padding: 0px;
    width: 100%;
  }
  .hamburger {
    display: block; /* Show the hamburger on mobile */
  }
  .content {
    width: 95%;
  }
  .navigation ul {
    display: none; /* Hide the menu by default on mobile */
    flex-direction: column; /* Stack items vertically */
    background-color: #000;
  }

  .navigation ul li:before{
    content: '\2022';
    color: rgb(105, 138, 183);
    font-size: 20px;
    margin-right: 5%;
  }
  .bookmark-row {
    font-size: 0.9rem; /* Reduce font size for smaller screens */
  }

  .navigation {
    width: 100%;
    flex-direction: column; /* Stack navigation vertically */
    align-items: center; /* Center items */
  }

  .navigation ul {
    flex-direction: column; /* Stack list items vertically */
  }

  .navigation ul li {
    margin: 5px 0; /* Adjust spacing for vertical layout */
  }
  
  .custom-table td, .custom-table th {
    padding: 8px; /* Reduce padding for smaller screens */
    font-size: 14px; /* Adjust font size */
  }

  .image-cell img {
    max-width: 80%; /* Further reduce image size if necessary */
  
  }
